In [2]:
import pandas as pd
import os

In [26]:
files = os.listdir('trends/')
files

['multiTimeline (36).csv',
 'multiTimeline (6).csv',
 'multiTimeline (20).csv',
 'multiTimeline.csv',
 'multiTimeline (16).csv',
 'multiTimeline (41).csv',
 'multiTimeline (40).csv',
 'multiTimeline (17).csv',
 'multiTimeline (21).csv',
 'multiTimeline (7).csv',
 'multiTimeline (37).csv',
 'multiTimeline (10).csv',
 'multiTimeline (47).csv',
 'multiTimeline (30).csv',
 'multiTimeline (26).csv',
 'multiTimeline (27).csv',
 'multiTimeline (1).csv',
 'multiTimeline (31).csv',
 'multiTimeline (46).csv',
 'multiTimeline (11).csv',
 'multiTimeline (45).csv',
 'multiTimeline (12).csv',
 'multiTimeline (28).csv',
 'multiTimeline (49).csv',
 'multiTimeline (24).csv',
 'multiTimeline (2).csv',
 'multiTimeline (32).csv',
 'multiTimeline (33).csv',
 'multiTimeline (3).csv',
 'multiTimeline (25).csv',
 'multiTimeline (48).csv',
 'multiTimeline (29).csv',
 'multiTimeline (13).csv',
 'multiTimeline (44).csv',
 'multiTimeline (18).csv',
 'multiTimeline (22).csv',
 'multiTimeline (4).csv',
 'multiTimeline (34).csv',
 'multiTimeline (43).csv',
 'multiTimeline (14).csv',
 'multiTimeline (8).csv',
 'multiTimeline (38).csv',
 'multiTimeline (39).csv',
 'multiTimeline (9).csv',
 'multiTimeline (15).csv',
 'multiTimeline (42).csv',
 'multiTimeline (35).csv',
 'multiTimeline (5).csv',
 'multiTimeline (23).csv',
 'multiTimeline (19).csv']

In [27]:
df_trend = pd.DataFrame()

pop = {
    'California': 39776830,
    'Texas': 28704330,
    'Florida': 21312211,
    'New York': 19862512,
    'Pennsylvania': 12823989,
    'Illinois': 12768320,
    'Ohio': 11694664,
    'Georgia': 10545138,
    'North Carolina': 10390149,
    'Michigan': 9991177,
    'New Jersey': 9032872,
    'Virginia': 8525660,
    'Washington': 7530552,
    'Arizona': 7123898,
    'Massachusetts': 6895917,
    'Tennessee': 6782564,
    'Indiana': 6699629,
    'Missouri': 6135888,
    'Maryland': 6079602,
    'Wisconsin': 5818049,
    'Colorado': 5684203,
    'Minnesota': 5628162,
    'South Carolina': 5088916,
    'Alabama': 4888949,
    'Louisiana': 4682509,
    'Kentucky': 4472265,
    'Oregon': 4199563,
    'Oklahoma': 3940521,
    'Connecticut': 3588683,
    'Iowa': 3160553,
    'Utah': 3159345,
    'Nevada': 3056824,
    'Arkansas': 3020327,
    'Mississippi': 2982785,
    'Kansas': 2918515,
    'New Mexico': 2090708,
    'Nebraska': 1932549,
    'West Virginia': 1803077,
    'Idaho': 1753860,
    'Hawaii': 1426393,
    'New Hampshire': 1350575,
    'Maine': 1341582,
    'Montana': 1062330,
    'Rhode Island': 1061712,
    'Delaware': 971180,
    'South Dakota': 877790,
    'North Dakota': 755238,
    'Alaska': 738068,
    'District of Columbia': 703608,
    'Vermont': 623960,
    'Wyoming': 573720
}

In [28]:
for f in files:
    f = open(f'trends/{f}', "r")
    lines = f.readlines()
    state = lines[2].split('(')[1].split(')')[0]
    state
    df_state = pd.DataFrame()
    for l in lines[3:]:
        date = l.split(',')[0]
        data = l.split(',')[1].split('\n')[0]
        df_dict = {
            'state': state,
            'date': date,
            'data': data,
            'pop': pop[state]
        }
        df_state = df_state.append(df_dict, ignore_index=True)
    df_trend = df_trend.append(df_state)

In [30]:
df_trend

    data        date         pop         state
0      0  2020-02-01  12823989.0  Pennsylvania
1      0  2020-02-02  12823989.0  Pennsylvania
2      0  2020-02-03  12823989.0  Pennsylvania
3      0  2020-02-04  12823989.0  Pennsylvania
4      0  2020-02-05  12823989.0  Pennsylvania
..   ...         ...         ...           ...
165   42  2020-07-15   6079602.0      Maryland
166   37  2020-07-16   6079602.0      Maryland
167   27  2020-07-17   6079602.0      Maryland
168   24  2020-07-18   6079602.0      Maryland
169   77  2020-07-19   6079602.0      Maryland

[8500 rows x 4 columns]